<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        

        <form id="searchForm" action="submit">
            <input class="form-item" type="text" placeholder="Name of city, state...">
            <button class="form-item">Search</button>
        </form>

        <br>
        <br>
        <div class="weather-display">
            <div class="basic-info">
                <h2 id="city">...</h2>
                <p id="time">...</p>
                <p id="description">Getting your weather...</p>
            </div>
            <div class="weather-detail">
                <div id="temperature">
                    <img src="img/loading.gif" alt="">
                    <h3 id="temperature_data">...</h3>
                    <div class="temperatureUnit">
                        <p id="unit">&#8457;</p>
                        <p id="btnUnitSwitch">Show &#8451;</p>
                    </div>
                </div>
                <div class="condition">
                    <p>Precipitation: ...</p>
                    <p>Humidity: ...</p>
                    <p>Wind: ...</p>
                    <p></p>
                </div>
            </div>
        </div>

    </div>
    
    {{>footer}}

    <script src="/js/util.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>