<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Get your weather.</p>
        <br>
        <br>

        <form action="submit">
            <input type="text" placeholder="Name of city, state...">
            <button>Search</button>
        </form>

        <br>
        <br>
        <div class="weather-display">
            <div class="basic-info">
                <h2 id="city">Fargo, ND</h2>
                <p id="time">Monday 7:00 PM</p>
                <p id="description">Mostly sunny</p>
            </div>
            <div class="weather-detail">
                <div id="temperature">
                    <img src="img/animated_icons/cloudy-day-1.svg" alt="">
                    <span id="temperature_data">74</span>
                    <span id="unitF" class="">&#8457;</span> | <span id="unitC" class="unitActive">&#8451;</span></span>
                </div>
                <div class="condition">
                    <p>Precipitation: 0%</p>
                    <p>Humidity: 41%</p>
                    <p>Wind: 6 mph</p>
                    <p></p>
                </div>
            </div>
        </div>

    </div>
    
    {{>footer}}

    <script src="/js/util.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>