:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333333;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #ffcc00;
    color: black;
    padding: 8px;
}

.basic-info {
    color: #878787;
}
#city{
    font-size: 24px;
}


.weather-display {
    width: 650px;
    border: 1px solid #dfe1e5;
    padding: 16px;
    border-radius: 8px;
}

.weather-detail {
    display: flex;
    justify-content: space-between;
}
.condition {
    width: 270px;
    color: #878787;
}

#temperature {
    display: flex;
}

#temperature > * {
    vertical-align: top;
}

#temperature img {
    height: 100px;
}
#temperature_data{
    font-size: 64px;
    width: 116px;
    text-align: right;
    margin: 0;
}

.temperatureUnit {
    display: flex;
    align-items: baseline;
}
#unit {
    font-size: 2em;
    margin: 2px;
}

#btnUnitSwitch {
    color: rgb(0, 153, 255);
    cursor: pointer;
    font-size: 1em;
    margin: 2px;
}

@media (max-width: 575.98px) {
    header {
        margin-bottom: 32px;
    }
    header h1 {
        font-size: 2em;
    }
    .weather-display {
        width: calc(100% - 32px);
    }
    .weather-detail {
        display: flex;
        flex-direction: column;
    }
    .temperatureUnit {
        flex-direction: column;
    }
    #searchForm {
        display: flex;
        justify-content: space-between;
    }
    .form-item {
        font-size: 17px;
        border-radius: 8px;
    }
    #searchForm input {
        height: 32px;
        width: calc(100% - 124px);
    }
    #searchForm button {
        height: 50px;
        padding-left: 16px;
        padding-right: 16px;
        background: #ffcc00;
        color: black;
        border: none;
    }

}